{% extends "courses/base.html" %}


{% block content %}
    <h1>Welcome!</h1>

    <form id="login_form" method="post" action="{% url 'courses:login' %}">
        {% csrf_token %}
        <br>
        Username: 
        <br>
        <input type="text" name="username" value="" size="50" />
        <br><br>
        <br><br>
        Password: 
        <br>
        <input type="password" name="password" value="" size="50" />
        
        <input type="hidden" value="{{ next }}" name="next" />

        <input type="submit" value="submit" />
    </form>
    
{% endblock %}