{% extends 'courses/base.html' %}

{% block content %}

<p><a href="{% url 'courses:subject' subject.id %}">Return to Course List</a></p>

<br>
<h2>Course: {{ course.title }}</h2>

<h4>Modules:</h4>

    {% for module in modules %}
        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{ module.title}}</h5>
                </div>
                <p class="mb-1">{{ module.description|linebreaks }}</small>
            </a>
            <div class="btn-group" role="group" aria-label="Basic example">
                <form action="{% url 'courses:module' module.id %}" method='GET'>
                    {% csrf_token %}
                    <button name='submit' class="btn btn-danger btn-sm">
                        Start Module
                    </button>
                </form>
            </div>
        </div>
        <br>
    {% empty %}
        <div class="card text-center">
            <div class="card">
                <div class="card-body">
                        There are no modules for this course yet.
                </div>
            </div>
        </div>
    {% endfor %}

{% endblock content %}



