{% extends "courses/base.html" %}

{% block content %}

<br>
<div class="jumbotron">
        <h2 class="display-4">Welcome to TreadUcation!</h2>
        <hr class="my-4">
            <p class="lead">Here you can view courses about tires so they aren't such an expensive mystery.</p>                
        </div>

<h2>Subjects:</h2>

        {% for subject in subjects %}
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{ subject.title}}</h5>
                    </div>
                </a>
                <div class="btn-group" role="group" aria-label="Basic example">
                    <form action="{% url 'courses:subject' subject.id %}" method='GET'>
                        {% csrf_token %}
                        <button name='submit' class="btn btn-danger btn-sm">
                            View Subject
                        </button>
                    </form>
                </div>
            </div>
            <br>
        {% empty %}
            <div class="card text-center">
                <div class="card">
                    <div class="card-body">No Subjects have been added yet.</div>
                </div>
            </div>
        {% endfor %}  
    

    

{% endblock content %}






