{% extends "courses/base.html" %}

{% block content %}

<p>Subjects:</p>

        {% for subject in subjects %}
            <div class="card text-center">
                <div class="card">
                    <div class="card-body">
                        <a href="{% url 'courses:subject' subject.id %}" class="stretched-link text-danger">{{ subject.title }}</a>
                    </div>
                </div>
            </div>
            <br>
        {% empty %}
            <div class="card text-center">
                <div class="card">
                    <div class="card-body">No Subjects have been added yet.</div>
                </div>
            </div>
        {% endfor %}  
    

    

{% endblock content %}


