{% extends 'courses/base.html' %}

{% block content %}

    <h3>My Courses:</h3>

        {% for course in courses %}
        <ul>
            <li>
                {{ course.title }}
                <form action="{% url 'courses:course_delete' course.id %}" method='POST'>
                    {% csrf_token %}
                    <button name='submit'>
                        Delete Course
                    </button>
                </form>
                <form action="{% url 'courses:course_edit' course.id %}" method='GET'>
                        {% csrf_token %}
                        <button name='submit'>
                            Edit Course
                        </button>
                </form>
            </li>
        </ul>
        {% endfor %}

        

{% endblock content %}