{% extends 'courses/base.html' %}

{% block content %}

<h2>Subject: {{ subject.title }}</h2>

<h4>Courses:</h4>

{% for course in courses %}
    <div class="card text-center">
        <div class="card">
            <div class="card-body">
                <a href="{% url 'courses:course' course.id %}">{{ course.title }}</a>
            </div>
        </div>
    </div>
    <br>
{% empty %}
    <div class="card text-center">
        <div class="card">
            <div class="card-body">There are no courses for this subject yet.</div>
        </div>
    </div>
{% endfor %}



{% endblock content %}

