{% extends 'courses/base.html' %}

{% block content %}

<h2>Subject: {{ subject.title }}</h2>

<h4>Courses:</h4>

{% for course in courses %}
    <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{ course.title}}</h5>
            </div>
            <p class="mb-1">{{ course.overview|linebreaks }}</small>
        </a>
        <div class="btn-group" role="group" aria-label="Basic example">
            <form action="{% url 'courses:course' course.id %}" method='GET'>
                {% csrf_token %}
                <button name='submit' class="btn btn-danger btn-sm">
                    Start Course
                </button>
            </form>
            <form action="{% url 'courses:student_enroll' course.id %}" method='POST'>
                {% csrf_token %}
                <button name='submit' class="btn btn-danger btn-sm">
                    Enroll
                </button>
            </form>
        </div>
    </div>
    <br>
{% empty %}
    <div class="card text-center">
        <div class="card">
            <div class="card-body">There are no courses for this subject yet.</div>
        </div>
    </div>
{% endfor %}



{% endblock content %}

    

